
@import '../modules/_colors';

$section-padding-med: 3rem 0;

.home-page {
    position: relative;
    h2 {
        text-align: center;
        margin-bottom: 1rem;
    }
}

.home__head {
    position: relative;
    height: 48rem;
    background-image: url('../../images/newspaper1.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .container {
        padding: 0;
    }
}

.home__head .text {
    position: relative;
    top: 13rem;
    float: right;
    width: 29rem;
    padding: 1rem 2rem;
    text-align: right;
    h1 {
        font-size: 5rem;
        padding: 0.3rem;
        margin-bottom: 0rem;
        background-color: $off-white;
        border-radius: 4px 4px 0 4px;
        box-shadow: 0.25rem 0 0 $off-white,
                0.25rem*-1 0 0 $off-white;
    }
    .text-p {
        position: relative;
        font-size: 1.75rem;
        background-color: $off-white;
        padding: 0.3rem;
        box-shadow: 0.25rem 0 0 $off-white,
                0.25rem*-1 0 0 $off-white;
        box-decoration-break: clone;
    }
}

.home__description {
    position: relative;
    border-bottom: 1px solid #ccc;
    padding: $section-padding-med;

    h2 {
        text-align: center;
        margin-bottom: 1rem;
    }

    .text {
        font-size: 1.3rem;
    }
}

.home__outlets {
    position: relative;
    padding: $section-padding-med;
    border: 1px solid red;
}

.outlet-list {
    margin-top: 3rem;
}

.outlet-list .outlet {
    position: relative;
    margin-bottom: 2rem;
    .card {
        border: 1px solid #ddd;
    }
    .card-body {
        position: relative;
        width: 100%;
        padding: 0.25rem 0.5rem;
    }
    .card-text {
        position: relative;
        float: left;
        font-size: 0.9rem;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .img {
        position: relative;
        height: 7rem;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .img-overlay {
        position: relative;
        margin-top: -7rem;
        height: 7rem;
    }
    .text {
        border-top: 1px solid #ddd;
    }
}

.show-more-container {
    position: relative;
    text-align: center;
}

.show-more {
    position: relative;
    .text {
        font-size: 1.5rem;
    }
    .fa {
        position: relative;
        top: -0.5rem;
    }
    &:hover {
        text-decoration: none;
    }
}
