
$light-grey: #f8f9fa;
$medium-grey: #ddd;

$link-blue: #007bff;
$link-blue-dark: #0056b3;

$medium-blue: #2f4bac;

$lightest-blue: #3A99FC;
$light-blue: #1085FF;
$main-blue: #007DFF;
$dark-blue: #0059B6;
$darkest-blue: #00448B;

$off-white: #f8f9fa;
