
@import './modules/_colors';

html {
    font-size: 16px;
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    padding-bottom: 6rem;
    min-height: 100%;
}

.page-content {
    padding: 1.5rem 0 1.5rem;
}
.page-content.home-page {
    padding: 0;
}

button {
    cursor: pointer;
}

.loading {
    position: relative;
    width: 100%;
    padding: 2em 0;
    text-align: center;
    .fa {
        color: #777;
    }
}

// OVERRIDERS

.list-group-item {
    padding: 0.25rem 0.75rem;
}
